@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
    @apply font-normal bg-gray-100;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: 
            url('https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg');
            background-size: cover; 
            backdrop-filter: blur(2px);
}

section::-webkit-scrollbar {
  width: 0.5em;
}
 
section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
section::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.badge--green {
    background: #42b883;
}
.badge--blue {
    background: #64c4ed;
}
.badge--pink {
    background: #ffbbcc;
}
.badge--grey {
    background: #c9d1d3;
}
.badge--lime {
    background: #b6e6bd;
}
.badge--purple {
    background: #c355f5;
}
.badge--black {
    background: #110133;
}
.badge--red {
    background: #ff6464;
}
