@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
    @apply font-normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    @apply bg-gray-100;
}

.badge--green {
    background: #42b883;
}
.badge--blue {
    background: #64c4ed;
}
.badge--pink {
    background: #ffbbcc;
}
.badge--grey {
    background: #c9d1d3;
}
.badge--lime {
    background: #b6e6bd;
}
.badge--purple {
    background: #c355f5;
}
.badge--black {
    background: #110133;
}
.badge--red {
    background: #ff6464;
}
